/* Geral */
body {
  background: #fff;
  color: #666666;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #045fda;
}

/* hover: visual ao passar o mouse, active: visual ao clicar no link ativo, focus: visual ao clicar */
a:hover,
a:active,
a:focus {
  color: #045fda;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Estilização do botao voltar ao topo */

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/* Comportamento ao clicar no botao */

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #045fda;
  color: #fff;
}

/* Cabeçalho */
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: -10%;
  top: 0;
  right: 0;
  transition: all 0.5s;
  /* Ordenamento de execucao */
  z-index: 997;
}

#header #logo {
  float: left;
  position: fixed;
  left: 3%;
  top: 2;

  cursor: pointer;
  transition: top 0.5s;
  transform: translateY(-14%);
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo img {
    max-height: 100%;
  }
}

#header.header-fixed {
  background: rgba(29, 19, 51, 0.726);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/* Seção Início */
#hero {
  width: 100%;
  height: 100vh;
  background: url(../assets/capa-dev-club2.png) top center;
  background-size: cover;
  position: relative;
}

/* Menu de Navegação */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Botão voltar ao topo */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}


/* Elemento da lista */
.nav-menu li {
  position: relative;
  left: 9%;
}

/* Elementos da lista da esquerda para a direita; > filho direto do elemento */
.nav-menu>li {
  float: left;
}

/* Container do menu de navegação */
#nav-menu-container {
  float: right;
  margin: 0;
}

/* Quando a largura for no máximo 991px nao aparece as informações*/
@media (max-width: 991px) {
  #nav-menu-container {
    display: none;
  }
}

/* Estilo do menu de navegação */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

.nav-menu>li {
  margin-left: 10px;
}

/* Barrinha abaixo dos elementos */
.nav-menu>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* Interacao da barrinha */
.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .menu-active>a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Navegação mobile */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 18px 20px auto auto;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Estilo da navegação mobile */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(29, 19, 51, 0.726);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #045fda;
}

#mobile-nav ul .menu-item-active {
  color: #045fda;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  display: none;
}

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

.section-header .section-title {
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: rgb(255, 255, 255);
}

/* Seção Início */

#about {
  background: #080c29;
  padding: 80px 0;
  position: relative;
}

#about .about-container .background {
  min-height: 470px;
  background: url(../assets/logo5.png) center top no-repeat;
  margin-bottom: 10px;
}

#about .about-container .title {
  color: rgb(218, 218, 218);
  font-weight: 700;
  font-size: 32px;
}

#about p {
  color: rgb(161, 161, 161);
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #080c29;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #080c29;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 0px solid #045fda;
}

#about .about-container .icon-box .icon i {
  color: #045fda;
  font-size: 50px;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/* Seção Cursos Online */

#courses {
  background: url(../assets/imagem-fundo.png) top center;
  background-size: cover;
  padding: 80px 0 60px 0;
  position: relative;
}

#courses:before {
  content: "";
  background: rgba(0, 0, 0, 0.267);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
}

.m-0 {
  margin: 0 !important;
}

/* background dos elementos dos cursos */
.bg-secondary {
  background-color: #fff !important;
}

#border-course1 {
  border-radius: 0px 0px 20px 20px;
}

#border-course2 {
  border-radius: 0px 0px 20px 20px;
}

#border-course3 {
  border-radius: 0px 0px 20px 20px;
}

#border-course4 {
  border-radius: 0px 0px 20px 20px;
}

#border-course5 {
  border-radius: 0px 0px 20px 20px;
}

#border-course6 {
  border-radius: 0px 0px 20px 20px;
}

.button-course {
  background-color: #080c29;
  border: none;
  width: 145px;
  height: 27px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.col-lg-6 {
  align-items: center !important;
  margin: auto !important;
}

.btn-dark {
  background-color: #080c29;
  font-weight: bold;
  font-size: 16px;
}

#name-form-course {
  font-weight: bold;
  color: #080c29;
  font-size: 35px;
}

/* Seção Oportunidade */

#oportunity {
  background: #080c29;
  padding: 80px 0;
  position: relative;
}

#oportunity .about-container .background {
  min-height: 470px;
  background: url(../assets/porta-coding10.png) center top no-repeat;
  margin-bottom: 10px;
}

#oportunity .about-container .title {
  color: rgb(218, 218, 218);
  font-weight: 800;
  font-size: 32px;
}

/* Form */

/* centralizacao do form */
.col-md-8 {
  align-items: center;
  margin: auto !important;
}

/* Seção Contato */

#contact {
  padding: 80px 0 40px 0;
  background: url(../assets/imagem-fundo.png);
  position: relative;
}

#contact .form button[type="submit"] {
  cursor: pointer;
  background: #7e00e1;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  position: relative;
  float: center;
  margin: auto;

}

#contact .form button[type="submit"]:hover {
  background: #045fda;
}

/* Rodapé */

#footer {
  background: #080c29;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer .copyright {
  text-align: center;
}